In [6]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [21]:
df = pd.read_excel('datasets/HISTORICO_SUERTES.xlsx')

In [3]:
df.shape

(21027, 85)

In [12]:
pd.set_option('display.max_columns', None)
df.head()

,Período,Hacienda,Nombre,Zona,Tenencia,Suerte,Suelo,Area Neta,Dist Km,Variedad,Cod.Estado #,Cod.Estado,F.Siembra,D.S.,Ult.Riego,Edad Ult Cos,F.Ult.Corte,Destino 1=Semilla,Cod. T.Cultivo,Cultivo,Fec.Madur.,Producto,Dosis Madurante,Semanas mad.,TonUltCorte,TCH,TCHM,Ton.Azucar,Rdto,TAH,TAHM,Sac.Caña Precosecha,Edad.Precosecha,%Sac.Caña,%Sac.Muestreadora,%ATR,KATRHM,%Fibra Caña,%AR Jugo,%ME Min,%ME Veg,%ME Tot,Brix,Pureza,Vejez,Tipo Quema,T.Corte,Cerca de,Cosechó,Num.Riegos,M3 Riego,DDUlt.Riego,Lluvias (2 Meses Ant.),Lluvias Ciclo,Lluvias 0 -3,Lluvias tres a seis,Lluvias seis a nueve,Luvias 9 -FC,%Infest.Diatrea,Fosfato Jugo,Fert.Nitrogen.,Urea 46%,MEZ,Boro Granul.,MicroZinc,NITO_XTEND,Sul.Amonio,NITRAX-S,Vinaza,Codigo Estacion,Temp. Media 0-3,Temp. Media Ciclo,Temp Max Ciclo,Temp Min Ciclo,Humedad Rel Media 0-3,Humedad Rel Media Ciclo,Oscilacion Temp Med 0-3,Oscilacion Temp Ciclo,Sum Oscilacion Temp Ciclo,Radicion Solar 0-3,Radiacion Solar Ciclo,Precipitacion 0_3,Precipitacion Ciclo,Evaporacion 0-3,Evaporacion Ciclo
0,201701,80493,LA CONCHA,IP02,51.0,002A,CANTARINA,6.00,4.3,CC85-92,5,Corte 5,2010-08-20,NaN,NaT,12.81,2017-01-02,0,1.0,Normal,2016-11-04,BONUS 250 EC REGULADOR FISIOLÓGICO,1.0,8.428571,727.19,121.198333,9.461228,86.050,11.8332,14.341666,1.119567,16.8172,NaN,13.7582,13.508,15.1653,1434.823641,16.910,0.84,0.355,10.198,10.553,15.7464,87.2241,2.735,VERDE,MECANIZADO,El Cerrito,AI08,NaN,0.0,0,258.0,1038.0,0.0,454.0,102.0,482.0,NaN,178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201701,81284,UKRANIA INCAUCA,IP05,81.0,039B,NaN,1.45,NaN,CC85-92,5,Corte 5,2011-01-27,NaN,NaT,11.14,2017-01-02,0,1.0,Normal,NaT,NaN,0.0,NaN,136.00,93.793103,8.419488,14.728,10.8294,10.157241,0.911781,NaN,NaN,12.8430,12.551,14.0410,1182.180399,16.936,0.55,2.298,7.273,9.571,15.2240,84.3602,73.823,Q.ACCIDENTAL,MANUAL,Candelaria,AI08,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,382.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201701,80203,EL AMPARO SAA,IP05,31.0,007,CORINTIAS,8.24,23.0,CC01-1228,4,Corte 4,2011-10-25,1.65,2016-09-17,12.32,2017-01-02,0,1.0,Normal,2016-11-04,BONUS 250 EC REGULADOR FISIOLÓGICO,1.1,8.428571,1436.62,174.347087,14.151549,145.268,10.1117,17.629611,1.430974,14.7749,12.02,11.9364,11.940,13.1236,1857.192723,15.512,0.61,3.000,9.323,12.323,14.1130,84.4527,2.108,VERDE,MECANIZADO,Palmira,AI08,5.0,48513.6,107,246.0,1002.0,106.0,326.0,113.0,457.0,NaN,226.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201701,81380,SAN JUDAS INCAUCA,IP05,82.0,013A,NaN,1.05,66.5,CC01-1940,2,Corte 2,2014-03-08,NaN,NaT,9.79,2017-01-02,0,1.0,Normal,NaT,NaN,0.0,NaN,143.63,136.790476,13.972469,13.517,9.4109,12.873333,1.314947,NaN,NaN,11.2770,10.931,12.4820,1744.043640,17.621,0.67,0.140,6.788,6.927,13.6350,82.7062,64.614,Q.ACCIDENTAL,MANUAL,Corinto,AI08,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201701,80298,JAVA,IP06,31.0,025A,GALPON,4.53,17.0,RB73-2223,3,Corte 3,2013-01-10,1.65,NaT,11.53,2017-01-02,0,1.0,Normal,NaT,NaN,0.0,NaN,512.20,113.068432,9.806455,42.505,8.2985,9.383002,0.813790,16.7662,NaN,10.2160,10.294,11.6030,1137.843039,14.352,0.95,0.592,2.939,3.531,12.9760,78.7299,71.021,Q.ACCIDENTAL,MANUAL,Guacari,AI08,NaN,0.0,0,138.0,991.0,264.0,255.0,188.0,284.0,NaN,244.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
cols_drop = [
    "Hacienda", "Nombre", "Suerte", 
    "Cod.Estado #", "Cod.Estado", 
    "Producto", "Cerca de", "Codigo Estacion"
]

df = df.drop(columns=cols_drop)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21027 entries, 0 to 21026
Data columns (total 77 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Período                    21027 non-null  int64
 1   Zona                       21027 non-null  object
 2   Tenencia                   21026 non-null  float64
 3   Suelo                      17269 non-null  object
 4   Area Neta                  21027 non-null  float64
 5   Dist Km                    21022 non-null  float64
 6   Variedad                   21027 non-null  object
 7   F.Siembra                  21027 non-null  datetime64[ns]
 8   D.S.                       7168 non-null   object
 9   Ult.Riego                  8470 non-null   datetime64[ns]
 10  Edad Ult Cos               21027 non-null  float64
 11  F.Ult.Corte                21027 non-null  datetime64[ns]
 12  Destino 1=Semilla          21027 non-null  int64
 13  Cod. T.Cultivo             21025 non-null  float64
 14  Cultivo                    21025 non-null  object
 15  Fec.Madur.                 11252 non-null  datetime64[ns]
 16  Dosis Madurante            20923 non-null  float64
 17  Semanas mad.               11252 non-null  float64
 18  TonUltCorte                21027 non-null  float64
 19  TCH                        21027 non-null  float64
 20  TCHM                       21027 non-null  float64
 21  Ton.Azucar                 20786 non-null  float64
 22  Rdto                       20760 non-null  float64
 23  TAH                        20786 non-null  float64
 24  TAHM                       20786 non-null  float64
 25  Sac.Caña Precosecha        19929 non-null  float64
 26  Edad.Precosecha            8919 non-null   float64
 27  %Sac.Caña                  20578 non-null  float64
 28  %Sac.Muestreadora          19169 non-null  float64
 29  %ATR                       20505 non-null  float64
 30  KATRHM                     20505 non-null  float64
 31  %Fibra Caña                19169 non-null  float64
 32  %AR Jugo                   18903 non-null  float64
 33  %ME Min                    19305 non-null  float64
 34  %ME Veg                    19307 non-null  float64
 35  %ME Tot                    19307 non-null  float64
 36  Brix                       20760 non-null  float64
 37  Pureza                     20758 non-null  float64
 38  Vejez                      18582 non-null  float64
 39  Tipo Quema                 21027 non-null  object
 40  T.Corte                    21027 non-null  object
 41  Cosechó                    21027 non-null  object
 42  Num.Riegos                 8438 non-null   float64
 43  M3 Riego                   21027 non-null  float64
 44  DDUlt.Riego                21027 non-null  int64
 45  Lluvias (2 Meses Ant.)     21027 non-null  float64
 46  Lluvias Ciclo              21027 non-null  float64
 47  Lluvias 0 -3               21027 non-null  float64
 48  Lluvias tres a seis        21027 non-null  float64
 49  Lluvias seis a nueve       21027 non-null  float64
 50  Luvias 9 -FC               21027 non-null  float64
 51  %Infest.Diatrea            5600 non-null   float64
 52  Fosfato Jugo               19169 non-null  float64
 53  Fert.Nitrogen.             0 non-null      float64
 54  Urea 46%                   723 non-null    float64
 55  MEZ                        971 non-null    float64
 56  Boro Granul.               1285 non-null   float64
 57  MicroZinc                  1149 non-null   float64
 58  NITO_XTEND                 3679 non-null   float64
 59  Sul.Amonio                 1357 non-null   float64
 60  NITRAX-S                   748 non-null    float64
 61  Vinaza                     4098 non-null   float64
 62  Temp. Media 0-3            4530 non-null   float64
 63  Temp. Media Ciclo          4530 non-null   float64
 64  Temp Max Ciclo             4530 non-null   float64
 65  Temp Min Ciclo             4530 non-null   float64
 66  Humedad Rel Media 0-3      4530 non-null   float64
 67  Humedad Rel Media Ciclo    4530 non-null   float64
 68  Oscilacion Temp Med 0-3    4530 non-null   float64
 69  Oscilacion Temp Ciclo      4530 non-null   float64
 70  Sum Oscilacion Temp Ciclo  0 non-null      float64
 71  Radicion Solar 0-3         4530 non-null   float64
 72  Radiacion Solar Ciclo      4530 non-null   float64
 73  Precipitacion 0_3          4530 non-null   float64
 74  Precipitacion Ciclo        4530 non-null   float64
 75  Evaporacion 0-3            4530 non-null   float64
 76  Evaporacion Ciclo          4530 non-null   float64
dtypes: datetime64[ns](4), float64(62), int64(3), object(8)
memory usage: 12.4+ MB

In [23]:
# Calcular % de nulos de las columnas restantes
null_percentages = df.isnull().mean()

# Seleccionar columnas con más del 80% de nulos
cols_drop_nulls = null_percentages[null_percentages > 0.7].index.tolist()

# Eliminar esas columnas del dataset
df = df.drop(columns=cols_drop_nulls)

print("Columnas eliminadas por >80% de nulos:")
print(cols_drop_nulls)

print("\nShape final del dataset:", df.shape)

Columnas eliminadas por >80% de nulos:
['%Infest.Diatrea', 'Fert.Nitrogen.', 'Urea 46%', 'MEZ', 'Boro Granul.', 'MicroZinc', 'NITO_XTEND', 'Sul.Amonio', 'NITRAX-S', 'Vinaza', 'Temp. Media 0-3', 'Temp. Media Ciclo', 'Temp Max Ciclo', 'Temp Min Ciclo', 'Humedad Rel Media 0-3 ', 'Humedad Rel Media Ciclo', 'Oscilacion Temp Med 0-3', 'Oscilacion Temp Ciclo', 'Sum Oscilacion Temp Ciclo', 'Radicion Solar 0-3', 'Radiacion Solar Ciclo', 'Precipitacion 0_3', 'Precipitacion Ciclo', 'Evaporacion 0-3', 'Evaporacion Ciclo']

Shape final del dataset: (21027, 52)

In [8]:
df.describe(include='all')

,Período,Hacienda,Nombre,Zona,Tenencia,Suerte,Suelo,Area Neta,Dist Km,Variedad,...,Humedad Rel Media Ciclo,Oscilacion Temp Med 0-3,Oscilacion Temp Ciclo,Sum Oscilacion Temp Ciclo,Radicion Solar 0-3,Radiacion Solar Ciclo,Precipitacion 0_3,Precipitacion Ciclo,Evaporacion 0-3,Evaporacion Ciclo
count,21027.000000,21027.000000,21027,21027,21026.000000,21027,17269,21027.000000,21022.000000,21027,...,4530.000000,4530.000000,4530.000000,0.0,4530.000000,4530.000000,4530.000000,4530.000000,4530.000000,4530.000000
unique,NaN,NaN,914,7,NaN,1220,102,NaN,NaN,58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,MARSELLA,IP05,NaN,001,CORINTIAS,NaN,NaN,CC01-1940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,404,7813,NaN,2188,4042,NaN,NaN,9172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,202039.708708,80679.334427,NaN,NaN,46.448730,NaN,NaN,8.642948,25.311806,NaN,...,80.764679,16.059757,24.556072,NaN,435.119397,438.344500,298.258587,1209.462980,442.941369,1912.479868
min,201701.000000,80100.000000,NaN,NaN,11.000000,NaN,NaN,0.004000,1.100000,NaN,...,63.327000,12.500000,22.353000,NaN,352.013000,367.315000,23.100000,23.100000,190.400000,190.400000
25%,201812.000000,80247.000000,NaN,NaN,31.000000,NaN,NaN,3.310000,12.000000,NaN,...,80.038000,15.200000,22.946250,NaN,421.344750,426.533250,221.650000,998.900000,416.800000,1729.900000
50%,202010.000000,80453.000000,NaN,NaN,51.000000,NaN,NaN,7.000000,21.900000,NaN,...,81.291500,15.700000,23.201500,NaN,436.591000,439.140000,296.900000,1181.150000,440.950000,1885.200000
75%,202209.000000,81104.000000,NaN,NaN,51.000000,NaN,NaN,12.075000,32.700000,NaN,...,82.440500,16.800000,25.660000,NaN,449.274000,450.391000,373.300000,1391.850000,465.800000,2057.800000
max,202407.000000,82557.000000,NaN,NaN,91.000000,NaN,NaN,65.000000,155.000000,NaN,...,84.816000,19.700000,32.358000,NaN,500.212000,485.672000,618.000000,3783.700000,614.300000,4971.800000
std,216.642895,590.030150,NaN,NaN,21.513498,NaN,NaN,7.049533,18.237344,NaN,...,2.752029,1.300131,2.471964,NaN,21.307392,18.582606,102.901635,340.463189,43.680452,307.978328